{% extends "aplicacion/index.html" %}

{% block header %}
<header class="bg-dark py-5">
    <div class="container px-3 px-lg-4 my-4">
        <div class="text-center text-white">
            <h2 class="display-7 fw-bolder"> Todas las ciudades </h2>
            <a href="{% url 'agregarCiudad' %}" class="btn btn-success">Agregar una ciudad</a>
        </div>
    </div>
</header>
{% endblock header %}

{% block contenido %}
<div class="container">
    <div class="row mt-4">
        {% if object_list %}
            {% for ciudad in object_list %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ ciudad.nombre }}</h5>
                            {% if usuario.imagen %}
                                <img src="{{ ciudad.imagen.url }}" alt="{{ ciudad.nombre }}" class="card-img-top">
                            {% endif %}
                            <a href="{% url 'actualizarCiudad' pk=ciudad.pk %}" class="btn btn-primary">Editar ciudad</a>
                            <a href="{% url 'eliminarCiudad' pk=ciudad.pk %}" class="btn btn-danger">Eliminar ciudad</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
        <p class="text-center"> Aún no hay ciudades disponibles.</p> 
        {% endif %}
    </div>
</div>
{% endblock contenido %}